.board {
	width: 600px;
	height: 600px;
}

.board div {
	float:left;
	height: 200px;
	width: 200px;
}

img {
	width: 200px;
	height: 200px;
}

.square {
	background: #6d0000;
}
.square-white {
	background: #fff;
}